<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="big-glass-container">
        <div class="login-box">
            <h2>Register</h2>

                <input type="text" id="username" name="username" required placeholder="Username">
                <input type="password" id="password" name="password" required placeholder="Password">
                
              
                <div class="har">
                    <button onclick="mFunction()" id="sigmas">Create</button>
            </div>
                <p><a href="index.html" id="login">Login</a></p>

        </div>
    </div>
</body>
</html>